@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
html {
    @apply scroll-pt-28 scroll-smooth;
}

body {
    @apply bg-$COLOR-950 text-$COLOR-200;
}

code {
    counter-increment: step 0;
    counter-reset: step;
}

/* Custom utilities */
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Custom base styles */
@layer base {
    :root {
        --radius: 0.5rem;
    }
}

/* Keyframes */
@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Code block styles */
.codeBlock > pre {
    @apply my-0 grid rounded-t-none;
}

.codeBlock .line {
    @apply block w-full;
}

/* Better padding */

.codeBlock > pre {
    @apply p-0;
}

.codeBlock code > .line {
    @apply px-[1.1428571em];
}

.codeBlock span:first-child {
    @apply mt-[0.8571429em];
}

.codeBlock span:nth-last-child(2) {
    @apply mb-[0.8571429em];
}

/* Line numbers styles */
.lineNumbers code > .line:not(:last-child)::before {
    @apply mr-10 inline-block w-6 text-right text-[rgba(115,138,148,0.4)] content-[counter(step)];
    counter-increment: step;
}

.lineNumbers > pre.has-diff .diff.add::before {
    content: counter(step) ' +';
    @apply mr-6 inline-block w-10 text-right text-emerald-500;
    counter-increment: step;
}

.lineNumbers > pre.has-diff .diff.remove::before {
    content: counter(step) ' -';
    @apply mr-6 inline-block w-10 text-right text-red-700;
    counter-increment: step;
}

/* No line numbers */

:not(.lineNumbers) > pre.has-diff .diff.add::before {
    content: '+';
    @apply mr-4 inline-block text-right text-emerald-500;
    counter-increment: step;
}

:not(.lineNumbers) > pre.has-diff .diff.remove::before {
    content: '-';
    @apply mr-4 inline-block text-right text-red-700;
    counter-increment: step;
}

:not(.lineNumbers) > pre.has-diff .line:not(:last-child):not(.diff) {
    @apply pl-10;
}

/* Focused line styles */
pre.has-focused .line:not(.focused) {
    @apply blur-[2px] transition-all duration-700;
}

.codeWrapper:hover pre.has-focused .line:not(.focused) {
    @apply blur-none transition-all duration-300;
}

/* Diff styles */
pre.has-diff .diff.add {
    @apply bg-emerald-700 bg-opacity-35;
}

pre.has-diff .diff.remove {
    @apply bg-red-800 bg-opacity-35;
}

/* Highlighted code styles */
pre.has-highlighted .highlighted {
    @apply bg-$COLOR-400 bg-opacity-15;
}

pre.has-highlighted .error {
    @apply bg-red-800 bg-opacity-35;
}

pre.has-highlighted .warning {
    @apply bg-amber-800 bg-opacity-35;
}

.highlighted-word {
    @apply rounded-sm border border-white/5 bg-$COLOR-500/20;
}

/* Checkbox trickery */

input:disabled,
input[type='checkbox'] {
    @apply mr-2;
}

.codeBlock > pre,
.customScrollbar {
    @apply overflow-auto;
}

.codeBlock > pre::-webkit-scrollbar,
.customScrollbar::-webkit-scrollbar {
    @apply size-2;
}

.codeBlock > pre::-webkit-scrollbar-thumb,
.customScrollbar::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-zinc-600;
}

.codeBlock > pre::-webkit-scrollbar-track,
.customScrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
}
