@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

body {
    @apply bg-$COLOR-950 text-$COLOR-200;
}

/* If you add font-["Inter"] everything breaks */

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

code {
    counter-increment: step 0;
    counter-reset: step;
}

code > .line:not(:last-child)::before {
    @apply mr-6 inline-block w-4 text-right text-[rgba(115,138,148,0.4)] content-[counter(step)];
    counter-increment: step;
}

.codeBlock > pre {
    @apply my-0 rounded-t-none;
}

@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
